params {
    GWAS_panel = false
    // GWASfile = "data/scDRS_74pheno.gs"
    GWASfile = "data/neuroPsych_9pheno.gs"
}

process {
    cpus = 4              // Max CPUs per process
    memory = '10 GB'       // Max memory per process
    parallelism = 5       // Max number of tasks running concurrently
}

docker {
    enabled = true
    runOptions = '--cpus=4 --memory=10g'
}

workflow {
    report {
        enabled = true
        file = 'results/report/report.html'
        overwrite = true
    }

    stats {
        enabled = true
        file = 'results/report/stats.html'
        overwrite = true
    }

    trace {
        enabled = true
        file = 'results/report/trace.txt'
        overwrite = true
    }

    timeline {
        enabled = true
        file = 'results/report/timeline.html'
        overwrite = true
    }

    dag {
        enabled = true
        file = 'results/report/dag.dot'
        overwrite = true
    }

    log {
        level = 'INFO'
        file = 'results/report/nextflow.log'
        overwrite = true
    }

    cleanup = true
}

log {
  level = 'DEBUG'
}