process {
    executor = 'local'
    container = 'marcoschinas/scdrs:1.0.2'
}

profiles {
    docker {
        docker.enabled = true
    }
}

// Enable reports
report {
    enabled = true  // Enable execution summary report
    file = 'results/report/report.html'  // Path to save the report
    report.overwrite = true
}

stats {
    enabled = true  // Enable performance statistics report
    file = 'results/report/stats.html'  // Path to save the stats report
    stats.overwrite = true
}

trace {
    enabled = true  // Enable trace report
    file = 'results/report/trace.txt'  // Path to save the trace report
    trace.overwrite = true
}

timeline {
    enabled = true  // Enable timeline visualization
    file = 'results/report/timeline.html'  // Path to save the timeline report
    timeline.overwrite = true
}

dag {
    enabled = true  // Enable DAG visualization
    file = 'results/report/dag.png'  // Path to save the DAG file
    dag.overwrite = true
}

log {
    level = 'INFO'
    file = 'results/report/nextflow.log'  // Path to save the log file
    log.overwrite = true
}

cleanup = true
